# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
**/ .next/

# Production
build/
dist/
**/dist/

# Env Files
.env*
**/.env*
!.env.example

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
**/node_modules/ logs/

# IDEs
.vscode/
.idea/

# Other
*.tsbuildinfo
next-env.d.ts
.clerk/
